@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* Media Queries */
body {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-template-areas: 'header' 'main' 'footer';
  /* ----------------------- Media Queries ----------------------- */
}
body header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body header ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body main div#intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main div#info div#upper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body main div#info div#upper div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main div#info div#lower {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body main div#info div#lower div {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main div#middle {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body main div#middle div#midDiv {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body main div#middle div#midDiv #see {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body main div#testimon {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main div#testimon div.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body main div#testimon div.card div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body main div#testimon div.card div .cardInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body main div#end {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
body main div#end #endDiv {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
body footer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body footer #mainFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body footer #mainFooter div {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
body footer #mainFooter div#lastInfo {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body footer #mainFooter div.list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
body footer #mainFooter div#social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
body footer #lowerFooter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (min-width: 64em) and (max-width: 75em) and (min-height: 37.5em) {
  body {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
  }
  body main div#testimon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  body footer #mainFooter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media only screen and (min-height: 43rem) and (min-width: 73.75rem) {
  body main div#testimon {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  body footer #mainFooter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}

/* --------------- Colors --------------- */
/* --- Primary --- */
/* --- Accent --- */
/* --- Neutral --- */
header {
  background-color: hsl(217deg, 28%, 15%);
  padding: 0.8rem 1.5rem 0.8rem 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  /* ----------------------- Media Queries ----------------------- */
}
header ul {
  list-style-type: none;
  padding-left: 0;
  width: 50%;
}
header ul li a {
  text-decoration: none;
  color: lightgray;
  font-size: 0.75rem;
}
header ul li a:hover {
  font-weight: 700;
  color: hsl(0deg, 0%, 100%);
  text-decoration: underline;
}
header img {
  width: 5rem;
}
@media only screen and (min-width: 41.25em) and (max-width: 53.75em) and (max-height: 26.25em) {
  header {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
  }
  header ul {
    width: 35%;
  }
}
@media only screen and (min-width: 47.813em) and (max-width: 63.938em) {
  header {
    /* ------ ($min-wdth, $max-wdth) ------ */
  }
  header ul {
    width: 35%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) and (min-height: 37.5em) {
  header {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    padding: 4.5rem 5rem 0.8rem 5rem;
  }
  header ul {
    width: 21.5%;
  }
  header ul li a {
    font-size: 1rem;
  }
  header img {
    width: 11rem;
  }
}
@media only screen and (min-height: 43rem) and (min-width: 73.75rem) {
  header {
    padding: 4.5rem 5rem 0.8rem 5rem;
  }
  header ul {
    width: 21.5%;
  }
  header ul li a {
    font-size: 1rem;
  }
  header img {
    width: 11rem;
  }
}

main {
  background-color: hsl(218deg, 28%, 13%);
  /* ----------------------- Media Queries ----------------------- */
}
main div#intro {
  font-family: 'Raleway', sans-serif;
  background-color: hsl(217deg, 28%, 15%);
  margin-bottom: 8rem;
  background: url('../images/bg-curvy-mobile.svg'),
    linear-gradient(
      180deg,
      hsl(217deg, 28%, 15%) 58%,
      hsl(218deg, 28%, 13%) 10%
    );
  background-position: 65% 46%;
  background-size: 110%;
  background-repeat: no-repeat;
}
main div#intro img {
  width: 80vw;
}
main div#intro h1 {
  font-size: 1.4rem;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  font-weight: 700;
  padding: 2rem 1.8rem 0rem 1.8rem;
  line-height: 2.3rem;
}
main div#intro p {
  margin: 0 0 2rem 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  text-align: center;
  color: whitesmoke;
  line-height: 1.5rem;
  padding: 0rem 2.6rem 0rem 2.6rem;
  font-weight: 400;
}
main div#intro button {
  font-family: 'Raleway', sans-serif;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(
    140deg,
    hsl(176deg, 68%, 64%) -40%,
    hsl(198deg, 60%, 50%) 80%
  );
  border-radius: 2rem;
  border: none;
  padding: 1rem 5rem;
  font-weight: 600;
  cursor: pointer;
}
main div#intro button:hover {
  background: linear-gradient(
    140deg,
    hsl(176deg, 68%, 64%) 100%,
    hsl(198deg, 60%, 50%)
  );
}
main div#info {
  margin-bottom: 5rem;
}
main div#info div#upper div,
main div#info div#lower div {
  font-family: 'Raleway', sans-serif;
  color: hsl(0deg, 0%, 100%);
}
main div#info div#upper div img,
main div#info div#lower div img {
  width: 4rem;
}
main div#info div#upper div p,
main div#info div#lower div p {
  text-align: center;
}
main div#info div#upper div p.title,
main div#info div#lower div p.title {
  font-size: 1.05rem;
  font-weight: 600;
  margin-top: 2.5rem;
}
main div#info div#upper div p.parag,
main div#info div#lower div p.parag {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.86rem;
  padding: 0rem 2rem 0rem 2rem;
  margin: 0 0 5rem 0;
  line-height: 1.4rem;
}
main div#middle {
  margin-bottom: 10rem;
}
main div#middle img {
  width: 80vw;
  margin-left: 10vw;
}
main div#middle div#midDiv {
  font-family: 'Raleway', sans-serif;
  color: hsl(0deg, 0%, 100%);
}
main div#middle div#midDiv p.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}
main div#middle div#midDiv p.parag {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.86rem;
  padding: 0rem 1.5rem 0rem 2rem;
  line-height: 1.4rem;
  margin-bottom: 1rem;
}
main div#middle div#midDiv #see {
  font-family: 'Open Sans', sans-serif;
  margin-left: 2rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid hsl(176deg, 68%, 64%);
  cursor: pointer;
}
main div#middle div#midDiv #see img {
  width: 1.2rem;
  margin-left: 0.4rem;
}
main div#middle div#midDiv #see span {
  color: hsl(176deg, 68%, 64%);
  font-size: 0.8rem;
}
main div#middle div#midDiv #see:hover {
  border-color: hsl(0deg, 0%, 100%);
}
main div#middle div#midDiv #see:hover img {
  filter: invert(0%) sepia(100%) saturate(32%) hue-rotate(162deg)
    brightness(95%) contrast(106%);
}
main div#middle div#midDiv #see:hover span {
  color: hsl(0deg, 0%, 100%);
}
main div#testimon #quote {
  width: 1.3rem;
  position: relative;
  left: -32.5vw;
}
main div#testimon div.card {
  width: 75vw;
  margin-bottom: 1.7rem;
  border-radius: 0.5rem;
  background-color: hsl(219deg, 30%, 18%);
  font-family: 'Open Sans', sans-serif;
  color: hsl(0deg, 0%, 100%);
}
main div#testimon div.card p.quote {
  font-weight: 400;
  font-size: 0.6rem;
  padding: 1.2rem 1.8rem 0.4rem 1.2rem;
  line-height: 1.2rem;
}
main div#testimon div.card div {
  margin-bottom: 1.3rem;
}
main div#testimon div.card div img {
  width: 1.5rem;
  border-radius: 2rem;
  margin-left: 1.2rem;
}
main div#testimon div.card div .cardInfo {
  margin-left: 0.4rem;
  margin-bottom: 0rem;
}
main div#testimon div.card div .cardInfo p.name {
  font-size: 0.6rem;
  font-weight: 700;
  margin: 0rem 0rem 0.2rem 0rem;
}
main div#testimon div.card div .cardInfo p.occupation {
  font-size: 0.5rem;
  margin: 0.2rem 0rem 0rem 0rem;
}
main div#end {
  position: relative;
  bottom: -10rem;
  width: 90vw;
  margin-left: 5vw;
  background-color: hsl(217deg, 28%, 15%);
  border-radius: 0.4rem;
  font-family: 'Raleway', sans-serif;
  color: hsl(0deg, 0%, 100%);
  box-shadow: 0.3rem 0.4rem 0.45rem hsl(216deg, 53%, 9%);
}
main div#end p.title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 2.5rem;
}
main div#end p.parag {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 0.86rem;
  margin: 0rem;
  padding: 0rem 1.6rem 2rem 1.6rem;
  line-height: 1.3rem;
}
main div#end p#error {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.6rem;
  font-weight: 700;
  padding: 0rem 2rem 2rem 2rem;
  color: hsl(0deg, 100%, 63%);
}
main div#end p#error.hide {
  display: none;
}
main div#end div#endDiv input {
  font-family: 'Open Sans', sans-serif;
  width: 64vw;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  border: none;
  padding-left: 10vw;
  font-size: 0.5rem;
  margin-left: 7.5vw;
}
main div#end div#endDiv button {
  font-family: 'Raleway', sans-serif;
  color: hsl(0deg, 0%, 100%);
  background: linear-gradient(
    140deg,
    hsl(176deg, 68%, 64%) -40%,
    hsl(198deg, 60%, 50%) 80%
  );
  width: 75vw;
  border-radius: 2rem;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 600;
  margin: 1rem 0rem 2rem 7vw;
  cursor: pointer;
}
main div#end div#endDiv button:hover {
  background: linear-gradient(
    140deg,
    hsl(176deg, 68%, 64%) 100%,
    hsl(198deg, 60%, 50%)
  );
}
@media only screen and (min-width: 41.25em) and (max-width: 53.75em) and (max-height: 26.25em) {
  main {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
  }
  main div#intro h1 {
    padding: 0.5rem 27vw 0rem 27vw;
  }
  main div#intro p {
    padding: 0.5rem 15vw 0rem 15vw;
  }
  main div#info div#upper div p.parag,
  main div#info div#lower div p.parag {
    padding: 0rem 13vw 0rem 13vw;
  }
  main div#middle div#midDiv {
    margin-right: 5vw;
  }
}
@media only screen and (min-width: 47.813em) and (max-width: 63.938em) {
  main {
    /* ------ ($min-wdth, $max-wdth) ------ */
  }
  main div#intro {
    padding-top: 4rem;
    background: url('../images/bg-curvy-mobile.svg'),
      linear-gradient(
        180deg,
        hsl(217deg, 28%, 15%) 95%,
        hsl(218deg, 28%, 13%) 10%
      );
    background-position: 65% 95%;
    background-size: 110%;
    background-repeat: no-repeat;
  }
  main div#intro h1 {
    padding: 0.5rem 27vw 0rem 27vw;
  }
  main div#intro p {
    padding: 0.5rem 15vw 0rem 15vw;
  }
  main div#info div#upper div p.parag,
  main div#info div#lower div p.parag {
    padding: 0rem 13vw 0rem 13vw;
  }
  main div#middle img {
    width: 70vw;
    margin-left: 15vw;
  }
  main div#middle div#midDiv {
    margin: 1rem 7vw 0rem 7vw;
  }
  main div#testimon #quote {
    width: 2rem;
    position: relative;
    left: -27vw;
  }
  main div#testimon div.card {
    width: 60vw;
  }
  main div#testimon div.card p.quote {
    font-size: 0.75rem;
  }
  main div#end {
    bottom: -7rem;
    width: 75vw;
    margin-left: 12.5vw;
    padding-bottom: 2.5rem;
  }
  main div#end p.title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  main div#end p.parag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.86rem;
    margin: 0rem;
    padding: 0rem 7vw 2rem 7vw;
  }
  main div#end p#error {
    width: 80%;
    text-align: left;
    padding: 0rem 0vw 0rem 5vw;
    margin-bottom: -1rem;
  }
  main div#end div#endDiv {
    width: 100%;
  }
  main div#end div#endDiv input {
    width: 38vw;
    padding-left: 4.5vw;
    margin-left: 5vw;
    font-size: 0.75rem;
  }
  main div#end div#endDiv button {
    width: 20vw;
    margin: 0 5vw 0 0;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) and (min-height: 37.5em) {
  main {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
  }
  main div#intro {
    background: url('../images/bg-curvy-desktop.svg'),
      linear-gradient(
        180deg,
        hsl(217deg, 28%, 15%) 95%,
        hsl(218deg, 28%, 13%) 10%
      );
    background-position: 50% 97%;
    background-size: 105%;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 15rem;
  }
  main div#intro img {
    width: 50vw;
  }
  main div#intro h1 {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0.5rem 22vw 0rem 22vw;
    line-height: 3.8rem;
  }
  main div#intro p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0.5rem 28vw 0rem 28vw;
  }
  main div#intro button {
    font-size: 1rem;
    padding: 1.1rem 6rem;
  }
  main div#info {
    margin-top: -12rem;
  }
  main div#info div#upper,
  main div#info div#lower {
    margin-left: 17vw;
    margin-right: 17vw;
  }
  main div#info div#upper div,
  main div#info div#lower div {
    width: 31vw;
  }
  main div#info div#upper div img,
  main div#info div#lower div img {
    width: 5rem;
  }
  main div#info div#upper div img.tall,
  main div#info div#lower div img.tall {
    width: 4rem;
  }
  main div#info div#upper div p.title,
  main div#info div#lower div p.title {
    margin-top: 2rem;
  }
  main div#middle img {
    width: 43vw;
    margin-left: 7vw;
  }
  main div#middle div#midDiv {
    width: 40vw;
    margin-right: 7vw;
  }
  main div#middle div#midDiv p.title {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
  }
  main div#middle div#midDiv p.parag {
    font-size: 1rem;
    padding: 0rem 2rem 0rem 1rem;
  }
  main div#middle div#midDiv #see {
    margin-left: 1rem;
  }
  main div#middle div#midDiv #see span {
    font-size: 1rem;
  }
  main div#testimon {
    margin-right: 10vw;
  }
  main div#testimon #quote {
    z-index: 0;
    width: 3.5rem;
    position: relative;
    left: 0vw;
    margin-top: -30vh;
    margin-right: -5.5vw;
    margin-left: 10vw;
  }
  main div#testimon div.card {
    width: 25vw;
    z-index: 1;
    padding-bottom: 0.5rem;
  }
  main div#testimon div.card p.quote {
    font-size: 0.85rem;
    padding: 1.5rem 1.8rem 0.4rem 1.8rem;
  }
  main div#testimon div.card div {
    margin-bottom: 1.3rem;
  }
  main div#testimon div.card div img {
    width: 1.6rem;
    border-radius: 2rem;
    margin-left: 1.8rem;
  }
  main div#testimon div.card div .cardInfo {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
  }
  main div#testimon div.card div .cardInfo p.name {
    font-size: 0.6rem;
    font-weight: 700;
    margin: 0rem;
  }
  main div#testimon div.card div .cardInfo p.occupation {
    font-size: 0.5rem;
    margin: 0.2rem 0rem 0rem 0rem;
  }
  main div#end {
    bottom: -7rem;
    width: 60vw;
    margin-left: 20vw;
    padding-bottom: 2.5rem;
  }
  main div#end p.title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  main div#end p.parag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.86rem;
    margin: 0rem;
    padding: 0rem 7vw 2rem 7vw;
  }
  main div#end p#error {
    width: 80%;
    text-align: left;
    padding: 0rem 0vw 0rem 5vw;
    margin-bottom: -1rem;
  }
  main div#end div#endDiv {
    width: 100%;
  }
  main div#end div#endDiv input {
    width: 29vw;
    padding-left: 2vw;
    margin-left: 5vw;
    font-size: 0.75rem;
  }
  main div#end div#endDiv button {
    width: 16.5vw;
    margin: 0 5vw 0 0;
  }
}
@media only screen and (min-height: 43rem) and (min-width: 73.75rem) {
  main div#intro {
    background: url('../images/bg-curvy-desktop.svg'),
      linear-gradient(
        180deg,
        hsl(217deg, 28%, 15%) 95%,
        hsl(218deg, 28%, 13%) 10%
      );
    background-position: 50% 97%;
    background-size: 105%;
    background-repeat: no-repeat;
    padding-top: 4rem;
    padding-bottom: 15rem;
  }
  main div#intro img {
    width: 50vw;
  }
  main div#intro h1 {
    font-size: 2.6rem;
    font-weight: 600;
    padding: 0.5rem 22vw 0rem 22vw;
    line-height: 3.8rem;
  }
  main div#intro p {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0.5rem 28vw 0rem 28vw;
  }
  main div#intro button {
    font-size: 1rem;
    padding: 1.1rem 6rem;
  }
  main div#info {
    margin-top: -12rem;
  }
  main div#info div#upper,
  main div#info div#lower {
    margin-left: 17vw;
    margin-right: 17vw;
  }
  main div#info div#upper div,
  main div#info div#lower div {
    width: 31vw;
  }
  main div#info div#upper div img,
  main div#info div#lower div img {
    width: 5rem;
  }
  main div#info div#upper div img.tall,
  main div#info div#lower div img.tall {
    width: 4rem;
  }
  main div#info div#upper div p.title,
  main div#info div#lower div p.title {
    margin-top: 2rem;
  }
  main div#middle img {
    width: 43vw;
    margin-left: 7vw;
  }
  main div#middle div#midDiv {
    width: 40vw;
    margin-right: 7vw;
  }
  main div#middle div#midDiv p.title {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-right: 4.5rem;
  }
  main div#middle div#midDiv p.parag {
    font-size: 1rem;
    padding: 0rem 2rem 0rem 1rem;
  }
  main div#middle div#midDiv #see {
    margin-left: 1rem;
  }
  main div#middle div#midDiv #see span {
    font-size: 1rem;
  }
  main div#testimon {
    margin-right: 10vw;
  }
  main div#testimon #quote {
    z-index: 0;
    width: 3.5rem;
    position: relative;
    left: 0vw;
    margin-top: -30vh;
    margin-right: -5.5vw;
    margin-left: 10vw;
  }
  main div#testimon div.card {
    width: 25vw;
    z-index: 1;
    padding-bottom: 0.5rem;
  }
  main div#testimon div.card p.quote {
    font-size: 0.85rem;
    padding: 1.5rem 1.8rem 0.4rem 1.8rem;
  }
  main div#testimon div.card div {
    margin-bottom: 1.3rem;
  }
  main div#testimon div.card div img {
    width: 1.6rem;
    border-radius: 2rem;
    margin-left: 1.8rem;
  }
  main div#testimon div.card div .cardInfo {
    margin-left: 0.5rem;
    margin-bottom: 0rem;
  }
  main div#testimon div.card div .cardInfo p.name {
    font-size: 0.6rem;
    font-weight: 700;
    margin: 0rem;
  }
  main div#testimon div.card div .cardInfo p.occupation {
    font-size: 0.5rem;
    margin: 0.2rem 0rem 0rem 0rem;
  }
  main div#end {
    bottom: -7rem;
    width: 60vw;
    margin-left: 20vw;
    padding-bottom: 2.5rem;
  }
  main div#end p.title {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
  }
  main div#end p.parag {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 0.86rem;
    margin: 0rem;
    padding: 0rem 7vw 2rem 7vw;
  }
  main div#end p#error {
    width: 80%;
    text-align: left;
    padding: 0rem 0vw 0rem 5vw;
    margin-bottom: -1rem;
  }
  main div#end div#endDiv {
    width: 100%;
  }
  main div#end div#endDiv input {
    width: 32vw;
    padding-left: 2vw;
    margin-left: 5vw;
    font-size: 0.75rem;
  }
  main div#end div#endDiv button {
    width: 13.5vw;
    margin: 0 5vw 0 0;
  }
}

footer {
  padding-top: 15rem;
  padding-left: 1.8rem;
  background-color: hsl(216deg, 53%, 9%);
  /* ----------------------- Media Queries ----------------------- */
}
footer #ftrLogo {
  margin-bottom: 2.5rem;
}
footer div {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}
footer div.ftrInfo img {
  width: 1rem;
  padding-top: 0.3rem;
}
footer div.ftrInfo p {
  margin: 0rem 0rem 0rem 1.5rem;
  line-height: 1.5rem;
  color: hsl(0deg, 0%, 100%);
  padding-right: 1rem;
}
footer div.ftrInfo#lastInfo {
  margin-bottom: 4rem;
}
footer div.list {
  margin: 1rem 0rem;
}
footer div.list p {
  cursor: pointer;
  margin: 0;
  color: hsl(0deg, 0%, 100%);
  line-height: 2.4rem;
}
footer div.list p:hover {
  font-weight: 700;
}
footer div#social {
  margin-left: 30%;
}
footer div#social svg {
  cursor: pointer;
  width: 0.85rem;
  fill: hsl(0deg, 0%, 100%);
  border: 1px solid hsl(0deg, 0%, 100%);
  border-radius: 0.9rem;
  padding: 0.45rem 0.45rem;
  margin: 0.5rem;
}
footer div#social svg#facebook {
  width: 0.65rem;
  padding: 0.4rem 0.55rem;
}
footer div#social svg:hover {
  border-color: hsl(176deg, 68%, 64%);
  fill: hsl(176deg, 68%, 64%);
}
footer .attribution {
  font-family: 'Open Sans', sans-serif;
  color: hsl(0deg, 0%, 100%);
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: 2rem;
}
footer .attribution a {
  color: skyblue;
  text-decoration: none;
}
footer .attribution a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 41.25em) and (max-width: 53.75em) and (max-height: 26.25em) {
  footer {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
  }
  footer div#mainFooter #social {
    margin-left: 35%;
  }
  footer div#lowerFooter {
    width: 100%;
  }
  footer div#lowerFooter .attribution {
    margin-left: 20%;
  }
}
@media only screen and (min-width: 47.813em) and (max-width: 63.938em) {
  footer {
    /* ------ ($min-wdth, $max-wdth) ------ */
  }
  footer div#mainFooter #social {
    margin-left: 35%;
  }
  footer div#lowerFooter {
    width: 100%;
  }
  footer div#lowerFooter .attribution {
    margin-left: 20%;
  }
}
@media only screen and (min-width: 64em) and (max-width: 75em) and (min-height: 37.5em) {
  footer {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    padding-top: 12rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  footer #ftrLogo {
    margin-bottom: 2rem;
  }
  footer div#mainFooter {
    width: 100%;
  }
  footer div#mainFooter .ftrInfo img {
    width: 1rem;
    padding-top: 0.3rem;
  }
  footer div#mainFooter .ftrInfo p#locParag {
    width: 20vw;
  }
  footer div#mainFooter .ftrInfo#lastInfo {
    margin-right: 3%;
  }
  footer div#mainFooter .list {
    margin: 0rem;
  }
  footer div#mainFooter #social {
    margin-left: 2%;
  }
  footer div#lowerFooter {
    width: 100%;
  }
  footer div#lowerFooter .attribution {
    margin-left: 30%;
  }
}
@media only screen and (min-height: 43rem) and (min-width: 73.75rem) {
  footer {
    padding-top: 12rem;
    padding-left: 7.5rem;
    padding-right: 5rem;
  }
  footer #ftrLogo {
    margin-bottom: 2rem;
  }
  footer div#mainFooter {
    width: 100%;
  }
  footer div#mainFooter .ftrInfo img {
    width: 1rem;
    padding-top: 0.3rem;
  }
  footer div#mainFooter .ftrInfo p#locParag {
    width: 25vw;
  }
  footer div#mainFooter .ftrInfo#lastInfo {
    margin-right: 5%;
  }
  footer div#mainFooter .list {
    margin: 0rem;
  }
  footer div#mainFooter #social {
    margin-left: 4%;
  }
  footer div#lowerFooter {
    width: 100%;
  }
  footer div#lowerFooter .attribution {
    margin-left: 33%;
  }
}

body {
  margin: 0;
}
