@use 'variables' as v;
@use 'mixins' as m;

footer {
  padding-top: 15rem;
  padding-left: 1.8rem;
  background-color: v.$footer-drk-main;
  #ftrLogo {
    margin-bottom: 2.5rem;
  }
  div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 1rem;
    &.ftrInfo {
      img {
        width: 1rem;
        padding-top: 0.3rem;
      }
      p {
        margin: 0rem 0rem 0rem 1.5rem;
        line-height: 1.5rem;
        color: v.$white-clr;
        padding-right: 1rem;
      }
      &#lastInfo {
        margin-bottom: 4rem;
      }
    }
    &.list {
      margin: 1rem 0rem;
      p {
        cursor: pointer;
        margin: 0;
        color: v.$white-clr;
        line-height: 2.4rem;
        &:hover {
          font-weight: 700;
        }
      }
    }
    &#social {
      margin-left: 30%;
      width: 8rem;
      a {
        padding: 0.5rem 0.755rem 0.3rem 0.755rem;
        border-radius: 100%;
        border: 1px solid v.$white-clr;
        svg {
          fill: currentColor;
          color: v.$white-clr;
          &#facebook{
            width: 0.6rem;
          }
          &#twitter{
            width: 0.85rem;
          }
          &#instagram{
            width: 0.9rem;
          }
        }
        &:hover {
          border-color: v.$cyan-clr;
          :first-child{
          color: v.$cyan-clr;
          }
        }
      }
      :nth-child(2){
        padding: 0.5rem 0.65rem 0.3rem 0.65rem;
      }
      :nth-child(3){
        padding: 0.55rem 0.65rem 0.25rem 0.65rem;
      }
    }
  }
  .attribution {
    font-family: 'Open Sans', sans-serif;
    color: v.$white-clr;
    font-size: 11px;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 2rem;
    a {
      color: skyblue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* ----------------------- Media Queries ----------------------- */
  @include m.flippedMobileScreens(41.25rem, 53.75rem, 26.25rem) {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
    div {
      &#mainFooter {
        #social {
          margin-left: 35%;
        }
      }
      &#lowerFooter {
        width: 100%;
        .attribution {
          margin-left: 20%;
        }
      }
    }
  }

  @include m.padScreens(47.813rem, 63.938rem) {
    /* ------ ($min-wdth, $max-wdth) ------ */
    div {
      &#mainFooter {
        #social {
          margin-left: 40%;
        }
      }
      &#lowerFooter {
        width: 100%;
        .attribution {
          margin-left: 25%;
        }
      }
    }
  }
  @include m.flippedPadScreens(64rem, 75rem, 37.5rem) {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    padding-top: 12rem;
    padding-left: 3rem;
    padding-right: 3rem;
    #ftrLogo {
      margin-bottom: 2rem;
    }
    div {
      &#mainFooter {
        width: 100%;
        .ftrInfo {
          img {
            width: 1rem;
            padding-top: 0.3rem;
          }
          p {
            &#locParag {
              width: 20vw;
            }
          }
          &#lastInfo {
            margin-right: 3%;
          }
        }
        .list {
          margin: 0rem;
        }
        #social {
          margin-left: 2%;
        }
      }
      &#lowerFooter {
        width: 100%;
        .attribution {
          margin-left: 30%;
        }
      }
    }
  }

  @include m.wideScreens(37.5rem, 73.75rem) {
    padding-top: 12rem;
    padding-left: 7.5rem;
    padding-right: 5rem;
    #ftrLogo {
      margin-bottom: 2rem;
    }
    div {
      &#mainFooter {
        width: 100%;
        .ftrInfo {
          img {
            width: 1rem;
            padding-top: 0.3rem;
          }
          p {
            &#locParag {
              width: 25vw;
            }
          }
          &#lastInfo {
            margin-right: 5%;
          }
        }
        .list {
          margin: 0rem;
        }
        #social {
          margin-left: 4%;
        }
      }
      &#lowerFooter {
        width: 100%;
        .attribution {
          margin-left: 33%;
        }
      }
    }
  }
}
