@use 'variables' as v;
@use 'mixins' as m;

header {
  background-color: v.$top-drk-blue;
  padding: 0.8rem 1.5rem 0.8rem 1.2rem;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  ul {
    list-style-type: none;
    padding-left: 0;
    width: 50%;
    li {
      a {
        text-decoration: none;
        color: v.$light-gray-clr;
        font-size: 0.75rem;
        &:hover {
          font-weight: 700;
          color: v.$white-clr;
          text-decoration: underline;
        }
      }
    }
  }
  img {
    width: 5rem;
  }

  /* ----------------------- Media Queries ----------------------- */
  @include m.flippedMobileScreens(41.25rem, 53.75rem, 26.25rem) {
    /* --------- ($min-wdth, $max-wdth, $max-hgt) --------- */
    ul {
      width: 35%;
    }
  }

  @include m.padScreens(47.813rem, 63.938rem) {
    /* ------ ($min-wdth, $max-wdth) ------ */
    ul {
      width: 35%;
    }
  }
  @include m.flippedPadScreens(64rem, 75rem, 37.5rem) {
    /* ------ ($mn-wdth, $max-wdth, $mn-hgt) ------ */
    padding: 4.5rem 5rem 0.8rem 5rem;
    ul {
      width: 21.5%;
      li {
        a {
          font-size: 1rem;
        }
      }
    }
    img {
      width: 11rem;
    }
  }

  @include m.wideScreens(37.5rem, 73.75rem) {
    padding: 4.5rem 5rem 0.8rem 5rem;
    ul {
      width: 21.5%;
      li {
        a {
          font-size: 1rem;
        }
      }
    }
    img {
      width: 11rem;
    }
  }
}
