/* --------------- Colors --------------- */

/* --- Primary --- */
$top-drk-blue: hsl(217, 28%, 15%);
$main-drk-blue: hsl(218, 28%, 13%);
$footer-drk-main: hsl(216, 53%, 9%);
$testimonial-drk-blue: hsl(219, 30%, 18%);

/* --- Accent --- */
$cyan-clr: hsl(176, 68%, 64%);
$blue-clr: hsl(198, 60%, 50%);
$light-red-clr: hsl(0, 100%, 63%);

/* --- Neutral --- */
$white-clr: hsl(0, 0%, 100%);
$light-gray-clr: lightgray;
